/* Product-Section CSS Code Starts */
.text-center {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.product-section {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.product-img {
  display: block;
}

.product-img>div {
  width: auto;
  height: 320px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.product-img-center {
  text-align: center;
}

.product-border {
  border: 1px solid #d1d1d1;
  padding: 20px;
}

.product-name {
  margin: 0;
  padding-top: 14px;
}

.product-name a {
  color: #232b33;
  text-decoration: none;
  font-size: 24px;
  font-family: Roboto, sans-serif, arial;
  font-weight: bold;
}

.product-rating {
  color: #FFC315;
  font-size: 14px;
  padding-top: 0;
}

.product-rating span {
  font-weight: 600;
  color: #3c3b3b8c;
  font-size: 12px;
  font-family: Roboto, sans-serif, arial;
}

.product-discounted-price {
  color: #333;
  font-size: 18px;
  letter-spacing: 0.1px;
  font-weight: 600;
  font-family: Roboto, sans-serif, arial;
}

.product-original-price {
  color: #6f6f6f;
  text-decoration: line-through;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.product-discount {
  border: 1px solid #ccc;
  background: #fff;
  display: inline-block;
  font-size: 10px;
  color: #999;
  padding: 5px;
  border-radius: 1px;
  float: right;
}

.product-price {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

/* Product-Section CSS Code Ends */